<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.user.email %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @comment.restaurant.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Home', restaurants_path %> |
<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', restaurant_path(@comment.restaurant.id) %> 

