<p id="notice"><%= notice %></p>

<p><h2>My Favorite Restaurants:</h2></p>
<div class="table-striped border rounded">
<table class="restaurants">
  <thead>
    <tr>
      <th>Restaurant</th>
    </tr>
  </thead>

  <tbody>
    <% @user.favorites.each do |restaurant| %>
      <tr>
        <td id="name"><%= link_to restaurant.name, restaurant %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<p><h2>My Comments:</h2></p>
<div class="table-striped border rounded">
<table class="restaurants">
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.comments.each do |comment| %>
      <tr>
        <td id="name"><%= comment.restaurant.name %></td>
        <td id = "comment"><%= comment.content %> </td>
        <td><%= link_to 'Show Restaurant', comment.restaurant %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<p><h2>My Votes:</h2></p>
<div class="table-striped border rounded">
<table class="restaurants">
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Will Split the Check</th>
      <th>Will Not Split the Check</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.votes.each do |vote| %>
      <tr>
        <td id="name"><%= vote.restaurant.name %></td>
        <td id = "upvote"><%= vote.up_vote %> </td>
        <td id = "downvote"><%= vote.down_vote %> </td>
        <td><%= link_to 'Show Restaurant', vote.restaurant %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= link_to 'Home', restaurants_path %>
