<%= form_with(model: restaurant, local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
    </div>
    <div class="form-group">
      <div class="field">
        <%= form.label :location %>
        <%= form.text_field :location %>
      </div>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
