<% if user_signed_in? %>
 | <%= link_to 'User Summary', @user %>
<% end %>
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<div class="navbar navbar-fixed">
<h1>Restaurants</h1>
<div class="search" >
  <table>
    <thead>
      <tr>
        <th>Search by Name</th>
        <th>Search by Location</th>
      </tr>
    </thead>
    <tbody>
      <td id="search_by_name">
        <%= form_tag(restaurants_path, :method => :get) do %>
          <%= text_field_tag :name, params[:name] %>
          <%= submit_tag 'Search', name: nil, id: 'search_by_name'%>
        <% end %>
    </td>
    <td id="search_by_location">
      <%= form_tag(restaurants_path, :method => :get) do %>
        <%= text_field_tag :location, params[:location] %>
        <%= submit_tag 'Search', name: nil, id: 'search_by_location'%>
      <% end %>
    </td>
  </tbody>
</table>
</div>
</div>
<div class="table-striped border rounded">
<table class="restaurants">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Will Split Check</th>
      <th>Will Not Split Check</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td id="name"><%= restaurant.name %></td>
        <td id="location"><%= restaurant.location %></td>
        <td id="up_votes"><%= restaurant.get_total_up_votes %></td>
        <td id="down_votes"><%= restaurant.get_total_down_votes %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
          <td><%= button_to 'Will Split Check', restaurant_up_vote_path(restaurant), :method => :put, :restarant_id => restaurant.id %></td>
          <td><%= button_to 'Will Not Split Check', restaurant_down_vote_path(restaurant), :method => :put, :restaurant_id => restaurant.id %></td>
	  <td><%= button_to 'Add to Favorites', restaurant_favorite_path(restaurant), :method => :put, :restaurant_id => restaurant.id  %> </td>
          <td><%= link_to 'Leave a Comment', restaurant %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<% if user_signed_in? %>
  <%= link_to 'Add New Restaurant', new_restaurant_path %> 
<% end %>




