<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Up votes:</strong>
  <%= @restaurant.get_total_up_votes %>
</p>

<p>
  <strong>Down votes:</strong>
  <%= @restaurant.get_total_down_votes %>
</p>
<% if user_signed_in? %>
  <%= form_for(Restaurant.leave_comment) do |f| %>
    <div class="form-group">
      <div class="field">
        <%= f.label :comment %>
        <div class="hidden-field"><%= f.text_field :user_id, value: current_user.id %></div>
        <div class="hidden-field"><%= f.text_field :restaurant_id, value: @restaurant.id %></div>
        <%= f.text_area :content, style: 'vertical-align: top' %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
<div class="table-striped border rounded">

<% if @restaurant.comments.count > 0 %>
  <table class="restaurants">
    <thead>
      <tr>
        <th>User</th>
        <th>Comment</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @restaurant.comments.each do |comment| %>
        <tr>
          <td id="user"><%= comment.user.email %></td>
          <td id="comment"><%= comment.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> 
<% end %>


