/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.container {

  .search {
    clear: right;
    text-align: center;
    float: right;
    width: 45%
  }  

  .new {
    h1 {
      width: 100%;
      text-align: left;
      padding-bottom: 1em;
    }
    padding: 1em;
    align: left;
    clear: both;
    .field {
      padding: 1em;
    }
  }
  .restaurants {
    text-align: center;
    width: 100%;
    tr:nth-child(even){
      background: #EFE;
    }
    border: thin;
  }

  .hidden-field {
    display: none;
  }
  h1 {
    text-align: center;
    width: 45%;
    padding: 0;
    margin: 0;
    float: left;
  }
}
