<p id="notice"><%= notice %></p>
<div class="navbar navbar-fixed">
<h1>Votes</h1>
</div>
<div class="table-striped border rounded">
<table class="restaurants">
  <thead>
    <tr>
      <th>User</th>
      <th>Restaurant</th>
      <th>Up vote</th>
      <th>Down vote</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.user.email %></td>
        <td><%= vote.restaurant.name %></td>
        <td><%= vote.up_vote %></td>
        <td><%= vote.down_vote %></td>
        <td><%= link_to 'Show', vote %></td>
      <%#  <td><%= link_to 'Edit', edit_vote_path(vote) %></td>
     <%#   <td><%= link_to 'Destroy', vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Vote', new_vote_path %>
