<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @vote.user.email %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @vote.restaurant.name %>
</p>

<p>
  <strong>Up vote:</strong>
  <%= @vote.up_vote %>
</p>

<p>
  <strong>Down vote:</strong>
  <%= @vote.down_vote %>
</p>

<%#<%= link_to 'Edit', edit_vote_path(@vote) %> 
<%= link_to 'Back', votes_path %>
