<!DOCTYPE html>
<html>
  <head>
    <title>Splitthecheck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<div class="container"
  <body>

    <% if !user_signed_in? %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to "Log In", new_user_session_path %>
    <% else %>
      <%= link_to 'Home', '/' %> |
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %> |
      <%= current_user.email %> 
    <% end %>
    <%= yield %>
  </body>
</div>
</html>
